/* .slider ul{
    padding: 0;
    display: flex;
  
    width: max-content;
    animation: runSlider 5s linear infinite;
}

.slider li{
    width: 380px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 5px;
    padding: 10px 0 10px 10px;
    width: 380px;
}

.slider{
    overflow: hidden;
}
@keyframes runSlider{
    from{
        transform: translateX(0);
    }to{
        transform: translateX(calc(-165px * 7));
    }
} */

  